<mat-toolbar color="primary">
    <span><i class="fa-solid fa-plane-up"></i> KVA2025</span>
    <span class="spacer"></span>
    <a routerLink="/" mat-button><i class="fa-solid fa-house"></i> Home</a>
    <a routerLink="/about" mat-button><i class="fa-solid fa-info"></i> About</a>
    <a routerLink="/search" mat-button><i class="fa-solid fa-magnifying-glass-location"></i>  Search</a>
    <a routerLink="/airlines" mat-button>
        <i class="fa-solid fa-plane"></i> Airlines
    </a>
</mat-toolbar>

<router-outlet />
